<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/productStyles.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./components/navBar.ejs') %>

    <h1 class="head">Product</h1>

    <div class="mainCont">

        <form method="get" class="filtersCont">

              <h2 class="filterHead">Filters</h2>

              <label for="categorydropDown" class="label">Category</label>
              <select class="categorydropDown" name="category" id="category">
                <option value="" selected>All Category</option>
                <% for(i=0 ; i<categories.length; i++){%>
                  <option value=<%- categories[i].name %>><%-categories[i].name%></option>
                  <%}%>
              </select>
              
              <label for="priceRange" class="label">Price Range</label>

              <div class="priceRangeWrap">
                <span class="minPrice">₹10</span>
                <input type="range" name="priceRange" id="priceRange" class="priceRange" min="10" max="10000">
                <span class="maxPrice">₹10000</span>
              </div>
              <p class="selectedPrice">Selected: ₹<span id="priceValue">10</span></p>

              <label  class="label">Sort By</label>
              <div class="sortCont">
                
                  <div class="lowtohighCont">
                    <input name = "sort" type="radio" value="lowtohigh" checked>
                    <label for="pricesort">Price:Low to High</label>
                  </div>
                  <div class="hightolowCont">
                    <input name = "sort" type="radio" value="hightolow">
                    <label for="pricesort">Price:High to Low</label>
                  </div>
                
              </div>

              <button type="submit" class="filterBtn">Apply Filters</button>
        </form>


        <div class="productsCont">
           
          <% if(products.length === 0){ %>
            <h2 class="noProductHead">No Products Found</h2>
          <% } %>


          <% for(i=0 ; i<products.length;i++){ %>
            <div class="productCard">
               <img src="<%= products[i].product_img_path %>" alt="productImage" class="productImage"/> 
               <p class="productName"><%= products[i].name %></p>

                <div class="tagColorBox" style="background-color: <%=products[i].tag_color %>;">
                  <p class="categoryName"><%= products[i].category_name %></p>
                </div>

                <p class="productPrice"><%=products[i].price%>/<%=products[i].unit%></p>

                <p class="productStock"><%=products[i].stock%> in stock</p>

                <div class="btnCont">

                    <form action="">
                      <button type="submit" class="editBtn">Edit</button>
                    </form>

                    <form action="">
                      <button type="submit" class="deleteBtn">Delete</button>
                    </form>

                </div>
              
                </div>
          <% } %>

        </div>

    </div>

    <script src="/js/product.js"></script>
  </body>
</html>
